.container_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 10px;
    text-align: center;
    background-color: black;    
}

.header {
    color: white;
    padding: 20px;
    font-weight: 500;
    font-size: 24px;
}

.btn_login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;


    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;


    background-color: #CAAD17;
    transition: 0.2s;
}
.btn_login:hover {
    background-color: #bda21c;
}

.nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav_link {   
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
}

.nav_link:hover {
    color: #CAAD17;
}


.link_ativo {
    color: #CAAD17;
}
.link_inativo {
    color:#FFF;
}